Repository ark-of-noah/algorithm, pull requests merged in 2023-09, with the labels that each got.

#2 feat: 성격 유형 검사하기
  programmers/성격 유형 검사하기/malllag.kt
Labels: programmers, level1, 구현

#3 feat: 성격 유형 검사하기 문제 풀이
  programmers/성격 유형 검사하기/white-gyu.py
Labels: programmers, level1, 구현

#4 feat: 성격 유형 검사 풀이
  programmers/성격 유형 검사하기/imzeze.ts
Labels: programmers, level1, 구현

#5 feat: 성격 유형 검사하기.cs
  programmers/성격 유형 검사하기/bellhoon.cs
Labels: programmers, level1, 구현

#7 feat: 미로 탈출 명령어
  programmers/미로 탈출 명령어/malllag.kt
Labels: programmers, level3, dfs

#8 [white-gyu] greedy 미로 탈출 명령어 문제 풀이
  programmers/미로 탈출 명령어/white-gyu.py
Labels: programmers, level3, greedy

#10 feat: 미로 탈출 명령어.cs
  programmers/미로 탈출 명령어/bellhoon.cs
Labels: programmers, level3, bfs

#13 feat: Maximize the Profit as the Salesman.cs
  leetcode/Maximize the Profit as the Salesman/bellhoon.cs
Labels: leetcode, medium, greedy, sort, binary search

#15 [white-gyu] dp Maximize the Profit as the Salesman 문제 풀이
  leetcode/Maximize the Profit as the Salesman/white-gyu.py
Labels: leetcode, medium, dp, sort

#17 feat: Pascal's Triangle
  leetcode/Pascal's Triangle/mallag.kt
Labels: leetcode, easy, dp

#18 feat: Pascal's Triangle.cs
  leetcode/Pascal's Triangle/bellhoon.cs
Labels: leetcode, easy

#19 feat: dp 파스칼 삼각형 문제 풀이
  leetcode/Pascal's Triangle/white-gyu.py
Labels: leetcode, easy, dp

#21 feat: 거리두기 확인하기
  programmers/거리두기 확인하기/malllag.kt
Labels: programmers, level2, dfs, bfs

#24 feat: 거리두기 확인하기 풀이
  programmers/거리두기 확인하기/imzeze.js
  programmers/거리두기 확인하기/imzeze.ts
Labels: programmers, level2

#27 feat: Substrings of Size Three with Distinct Characters
  leetcode/Substrings of Size Three with Distinct Characters/malllag.kt
Labels: leetcode, easy, Sliding Window, String

#28 feat: Substrings of Size Three with Distinct Characters 문제 풀이
  leetcode/Substrings of Size Three with Distinct Characters/white-gyu.py
Labels: leetcode, level1, Sliding Window, String

#29 feat: 거리두기 확인하기.cs
  programmers/거리두기 확인하기/bellhoon.cs
Labels: programmers, level2

#30 feat: Substrings of Size Three with Distinct Characters.cs
  leetcode/Substrings of Size Three with Distinct Characters/bellhoon.cs
Labels: leetcode, easy

#35 feat: 개인정보 수집 유효기간 풀이
  programmers/개인정보 수집 유효기간/imzeze.js
Labels: programmers, level1, 구현

#34 feat:개인정보 수집 유효기간.cs
  programmers/개인정보 수집 유효기간/bellhoon.cs
Labels: programmers, level1, 구현

#33 feat: 개인정보 수집 유효기간
  programmers/개인정보 수집 유효기간/malllag.kt
Labels: programmers, level1, 구현

#32 feat: 개인정보 수집 유효기간 문제 풀이
  programmers/개인정보 수집 유효기간/white-gyu.py
Labels: programmers, level1, 구현

#39 feat: 광물캐기 문제 풀이
  programmers/광물캐기/white-gyu.py
Labels: programmers, level2, 구현, deque

#40 feat: 광물 캐기
  programmers/광물캐기/malllag.kt
Labels: programmers, level2, dfs

#41 feat: 문자열 압축
  programmers/문자열 압축/malllag.kt
Labels: programmers, level2, 구현, String

#42 feat: 문자열 압축.cs
  programmers/문자열 압축/bellhoon.cs
Labels: programmers, level2, 구현, String

#43 feat: 광물캐기.cs
  programmers/광물캐기/bellhoon.cs
Labels: programmers, level2, greedy

#45 feat: 문자열 압축 풀이
  programmers/문자열 압축/imzeze.js
Labels: programmers, level2, 구현, String

#46 feat: 문자열 압축
  programmers/문자열 압축/white-gyu.py
Labels: programmers, level2, 구현, Sliding Window, String

#47 feat: Rotting Oranges
  leetcode/Rotting Oranges/mallag.kt
Labels: leetcode, medium, bfs

#48 feat: Rotting Oranges.cs
  leetcode/Rotting Oranges/bellhoon.cs
Labels: leetcode, medium, bfs

#50 feat: Maximum Level Sum of a Binary Tree
  leetcode/Maximum Level Sum of a Binary Tree/mallag.kt
Labels: leetcode, medium, bfs

#51 feat: rotting oranges 문제 풀이
  leetcode/Rotting Oranges/white-gyu.py
Labels: leetcode, medium, 구현, bfs

#52 feat: Maximum Level Sum of a Binary Tree 문제 풀이
  leetcode/Maximum Level Sum of a Binary Tree/white-gyu.py
Labels: leetcode, medium, bfs

#54 feat: Maximum Level Sum of a Binary Tree.cs
  leetcode/Maximum Level Sum of a Binary Tree/bellhoon.cs
Labels: leetcode, medium, dfs

#55 feat: 덧칠하기.cs
  programmers/덧칠하기/bellhoon.cs
Labels: programmers, level1, 구현

#56 feat: 덧칠하기
  programmers/덧칠하기/malllag.kt
Labels: programmers, level1, 구현

#59 feat: 덧칠하기 문제 풀이
  programmers/덧칠하기/white-gyu.py
Labels: programmers, level2, 구현

#58 feat: k진수에서 소수 개수 구하기
  programmers/k진수에서 소수 개수 구하기/malllag.kt
Labels: programmers, level2, 구현

#61 feat: k진수에서 소수 개수 구하기 문제 풀이
  programmers/k진수에서 소수 개수 구하기/white-gyu.py
Labels: programmers, level2, 구현
